pre {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.toggle-code {
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 0 0 8px 8px;
    color: black;
    background: transparent;
}

.toggle-code-wrapper {
    position: relative;
    top: -22px;
    text-align: right;
}