@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto|Source+Code+Pro');

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
}

pre {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

code, kbd, pre, samp {
  font-family: 'Source Code Pro', monospace;
}

.block-title {
  padding-right: 0;
}

.block-title > p {
  border-bottom: 1px solid #cccccc;
}

.block-title.no-margin > p {
  margin-bottom: 0;
}

.column-block + .column-block {
  margin-top: 10px;
}

.footer {
  margin-top: 60px;
  width: 100%;
  padding: 30px 0;
  background-color: #222222;
  color: #ffffff;
}

.heart {
  color: #a83f39;
}

.footer p {
  margin: 0;
}

.navbar {
  margin-bottom: 0;
}

.preamble {
  padding: 21px 0;
  background-color: #b1b1b1;
}

.version {
  margin-top: 10px;
  font-size: 0.9em;
}

.btn-outline-inverse {
  color: #222;
  background-color: transparent;
  border-color: #222;
}

.btn-outline-inverse:active, .btn-outline-inverse:focus, .btn-outline-inverse:hover {
  color: #222;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}

.download {
  padding-top: 20px;
}

.intro-section {
  margin-top: 30px;
}

.css-class {
  color: #43804a;
  font-weight: bold;
}